@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Roboto-thin;
    src: url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.woff2") format("woff2");
}

@font-face {
    font-family: "icons";
    src: url("fonts/Social-Media-Circled.woff") format("woff"),
          url("fonts/Social-Media-Circled.woff2") format("woff2"); 
        }

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    margin-top: 2em;
    margin-left: 10em;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

header > ul {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    position: relative;
    color: white;
}

header > ul > li {
    margin-left: 1em;
}

.hero {
    background-image: url("images/bg.png");
    background-size: cover;
    height: 95vh;
    width: 100%;
    /* position: absolute; */
    margin-bottom: -1.5em;
    margin-top: 0;
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
}

.title {
    font-family: Roboto-thin;
    font-weight: 100;
    font-size: 3.5em;
    /* width: 55%; */
    color: white;
    margin-top: 5em;
    margin-bottom: 0px;
}

.slogan {
    margin-top: 0;
    margin-bottom: 5em;
    font-size: 2em;
    color: white;
    font-family: Roboto-thin;
    font-weight: 100;
}

.section {
    margin-bottom: 3em;
}

.section > h1, .gallery-section > h1 {
    font-weight: 100;
    font-family: Roboto;
}

.section > hr {
    margin-top: 0px;
    width: 4.5em;
    float: left;
    border: 1px solid rgb(172, 90, 70);
}

.gallery-section > hr {
    margin-top: 0px;
    width: 7em;
    border: 1px solid rgb(172, 90, 70);
}

.gallery-section {
    margin-bottom: 1em;
    text-align: center;
}

.gallery > h1 {
    font-weight: 100;
    font-family: Roboto;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .hero {
    margin-bottom: 5em;
} */

.beige, .hero>.container>button {
    font-family: Roboto;
    background-color: rgb(172, 90, 70);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.pros {
    display: grid;
    grid-template-columns: 10em 40em;
    grid-template-rows: 10em 10em 10em;
    margin-left: 7em;
    justify-content: center;
    justify-items: start;
    gap: 5em;
}

.kapec {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribute space evenly */
    align-items: center;
    gap: 0.5em; /* Add some gap between the items */
}

.kapec>picture {
    position: relative;
    text-align: center;
    color: white;
}

.kapec>picture>img {
    width: 100%;
}

.kapec>picture:hover img {
    filter: brightness(40%); /* Darken the image when hovered */
    transition: 0.5s ease;
}

.kapec>picture:hover .centered {
    display: block; /* Show the text when the picture is hovered */
    transition: 0.5s ease;
}

.centered {
    display: none; /* Initially hide the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Make sure the text color is visible */
    text-align: center;
}

.centered * {
    user-select: none;
}

.text>h2, .centered>h2 {
    font-size: 1.5em;
    font-family: Roboto;
    font-weight: 100;
}

.centered>p {
    font-size: 1.3em;
    font-family: Roboto-Thin;
    font-weight: 100;
}

/* Gallery styles */
.slideshow-container {
    position: relative;
    max-width: 85%;
    margin: 0 auto auto auto;
    overflow: hidden; /* Ensure images stay within the container */
}

.slideshow-container picture {
    display: none; /* Hide all images initially */
}

.slideshow-container picture.active {
    display: block; /* Show only the active image */
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 3px 0 0;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}


.text {
    font-family: Roboto;
    font-weight: 100;
}

/* .form-sec {
    display: flex;
    width: 80%;
    margin-left: 7em;
} */

.form-sec p {
    width: 60%;
}

.form-sec {
    display: flex;
    width: 70%;
    margin-left: 7em;
    border: 1px solid black; /* Add 1px border with AC5A46 color */
    padding: 20px; /* Add some padding inside the form for a cleaner look */
    border-radius: 5px; /* Optional: round the corners slightly */
    justify-content: center;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.form-left label, .form-right label {
    margin-bottom: 15px;
}

.form-left picture img {
    width: 70%;
    border-radius: 10px;
}

.form-right button {
    margin-top: 15px; /* Adds space between the last label and button */
    align-self: auto; /* Aligns the button to the left */
}

.form-sec label {
    font-family: Roboto;
    font-weight: 100;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], #optionsSelect, #roomsSelect {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.contact-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}

h2 {
    font-family: Roboto;
    font-weight: 100;
    font-size: 1em;
}

p {
    font-family: Roboto;
    font-weight: 100;
}

.contact-gallery>ul {
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}

.contact-gallery>picture {
    width: 300px;
    margin-right: 0;
}

.contact-gallery>picture>img {
    width: 300px;
}

.beige-text {
    color: rgba(172, 90, 70, 0.67);
}

.contact-details>hr {
    border: 1px solid rgba(172, 90, 70, 0.67);
}

.contact-details>li>a {
    font-family: Roboto;
    color: black;
}

footer {
    background-color: rgb(172, 90, 70);
}

footer ul{
    margin-left: 6em;
    list-style-type: none;
}

footer>ul>li {
    font-family: "icons";
    margin: 10px;
}

footer>ul>li>a {
    font-family: Roboto;
    color: black;
}

a {
    font-family: Roboto;
    color: white;
}


    @media only screen and (max-width: 600px) {  

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 4em;
            /* margin: auto; */
        }

        header > ul {
            flex-direction: column;
            padding: 0;
        }

        header > ul > li {
            margin-left: 0;
            margin-top: 1em;
        }

        .hero {
            margin-bottom: 1em;
            height: auto;
            width: 135vw;
            margin-left: auto;
            margin-right: auto;
        }

        .hero .container {
            margin: auto;
        }

        section {
            /* margin-top: 0; */
            margin-left: 6em;
            /* margin: auto; */
        }

        .pros {
            width: 400px;
            display: grid;
            grid-template-columns: 18em;
            grid-template-rows: 10em 10em 10em 10em 10em 10em;
            margin-left: 0;
            gap: 2em;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
        }

        .title {
            font-family: Roboto-thin;
            font-weight: 100;
            font-size: 3em;
            width: 76%;
            color: white;
            margin-top: 6em;
            margin-bottom: 0px;
        }
        
        .slogan {
            width: 50%;
            margin-top: 0px;
            font-size: 1.5em;
            color: white;
            font-family: Roboto-thin;
            font-weight: 100;
        }

        .slideshow-container {
            max-width: 100%;
        }

        .prev, .next {
            top: 40%;
        }

        .whypr .kapec {
            width: 90%;
            flex-direction: column;
            margin-left: 3em;
        }

        .whypr .kapec .centered h2 {
            font-size: 1.2em;
        }

        .whypr .kapec .centered p {
            font-size: 0.9em;
        }

    .form-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-content: center; */
        align-items: center;
        margin-left: 0;
    }

    .form-sec p {
        width: 100%;
    }

    .form-sec form {
        width: 95%;
    }

    .contact-gallery {
        flex-direction: column;
    }

    .form-left, .form-right {
        width: 100%;
    }

    .form-right button {
        font-family: Roboto;
        background-color: rgb(172, 90, 70);
        border: none;
        border-radius: 12px;
        color: white;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    footer {
        width: 135vw;
    }
        
    }
  
    @media only screen and (min-width: 601px) and (max-width: 768px) {  
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* margin-left: 4em; */
            /* margin: auto; */
        }

        header > ul {
            flex-direction: column;
            padding: 0;
        }

        header > ul > li {
            margin-left: 0;
            margin-top: 1em;
        }

        .hero {
            margin-bottom: 1em;
            height: auto;
            width: 135vw;
            margin-left: auto;
            margin-right: auto;
        }

        .hero .container {
            margin: 1.5em auto auto 1em;
        }

        section {
            /* margin-top: 0; */
            margin-left: 8em;
            /* margin: auto; */
        }

        .pros {
            width: 400px;
            display: grid;
            grid-template-columns: 18em;
            grid-template-rows: 10em 10em 10em 10em 10em 10em;
            margin-left: 0;
            gap: 2em;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
        }

        .title {
            font-family: Roboto-thin;
            font-weight: 100;
            font-size: 3em;
            width: 76%;
            color: white;
            margin-top: 6em;
            margin-bottom: 0px;
        }
        
        .slogan {
            width: 50%;
            margin-top: 0px;
            font-size: 1.5em;
            color: white;
            font-family: Roboto-thin;
            font-weight: 100;
        }

        .slideshow-container {
            max-width: 100%;
        }

        .prev, .next {
            top: 40%;
        }

        .whypr .kapec {
            width: 90%;
            flex-direction: column;
            margin-left: 3em;
        }

        .whypr .kapec .centered h2 {
            font-size: 1.2em;
        }

        .whypr .kapec .centered p {
            font-size: 0.9em;
        }

    .form-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-content: center; */
        align-items: center;
        margin-left: 0;
    }

    .form-sec p {
        width: 100%;
    }

    .form-sec form {
        width: 95%;
    }

    .contact-gallery {
        flex-direction: column;
    }

    .form-left, .form-right {
        width: 100%;
    }

    .form-right button {
        font-family: Roboto;
        background-color: rgb(172, 90, 70);
        border: none;
        border-radius: 12px;
        color: white;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    footer {
        width: 135vw;
    }


    }
  
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* margin-left: 4em; */
            /* margin: auto; */
        }

        header > ul {
            flex-direction: column;
            padding: 0;
        }

        header > ul > li {
            margin-left: 0;
            margin-top: 1em;
        }

        .hero {
            margin-bottom: 1em;
            height: auto;
            width: 135vw;
            margin-left: auto;
            margin-right: auto;
        }

        .hero .container {
            margin: 1.5em auto auto 1em;
        }

        section {
            /* margin-top: 0; */
            margin-left: 8em;
            /* margin: auto; */
        }

        .pros {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 10em 10em 10em;
            margin-left: 7em;
            justify-content: center;
            justify-items: start;
            gap: 5em;
        }

        .title {
            font-family: Roboto-thin;
            font-weight: 100;
            font-size: 3em;
            width: 76%;
            color: white;
            margin-top: 6em;
            margin-bottom: 0px;
        }
        
        .slogan {
            width: 50%;
            margin-top: 0px;
            font-size: 1.5em;
            color: white;
            font-family: Roboto-thin;
            font-weight: 100;
        }

        .slideshow-container {
            max-width: 100%;
        }

        .prev, .next {
            top: 40%;
        }

        .whypr .kapec {
            width: 90%;
            flex-direction: column;
            margin-left: 3em;
        }

        .whypr .kapec .centered h2 {
            font-size: 1.7em;
        }

        .whypr .kapec .centered p {
            font-size: 1.2em;
        }

    .form-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-content: center; */
        align-items: center;
        margin-left: 0;
    }

    .form-sec p {
        width: 100%;
    }

    .form-sec form {
        width: 95%;
    }

    .contact-gallery {
        flex-direction: column;
    }

    .form-left, .form-right {
        width: 100%;
    }

    .form-right button {
        font-family: Roboto;
        background-color: rgb(172, 90, 70);
        border: none;
        border-radius: 12px;
        color: white;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    footer {
        width: 135vw;
    }

    }
  
    @media only screen and (min-width: 1025px) and (max-width: 1440px)  {
 

        .hero {
            margin-bottom: 1em;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }


    }

       @media only screen and (min-width: 1025px) and (max-width: 1440px)  {
 

        .hero {
            margin-bottom: 1em;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

    }

        @media only screen and (min-width: 2000px) {
            .container {
                margin-top: 27.5em;
            }

        }